article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block;}audio,canvas,video{display:inline-block;}audio:not([controls]){display:none;height:0;}[hidden]{display:none;}html{font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}a:focus{outline:thin dotted;}a:active,a:hover{outline:0;}h1{font-size:2em;}abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:700;}dfn{font-style:italic;}mark{background:#ff0;color:#000;}code,kbd,pre,samp{font-family:monospace, serif;font-size:1em;}pre{white-space:pre-wrap;word-wrap:break-word;}q{quotes:\201C \201D \2018 \2019;}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-.5em;}sub{bottom:-.25em;}img{border:0;}svg:not(:root){overflow:hidden;}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em;}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}button,input{line-height:normal;}button,html input[type=button],/* 1 */
input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer;}button[disabled],input[disabled]{cursor:default;}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0;}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none;}textarea{overflow:auto;vertical-align:top;}table{border-collapse:collapse;border-spacing:0;}body,figure{margin:0;}legend,button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}

 .clearfix:after {visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; } 

 * { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

/* mainHeaderHome */

* {
    margin: 0;
    /* border: 1px solid red; */
}

.wrapper {
    max-width: 1170px;
    margin: 0 auto;
    width: 75%;
}

.homeNavSection {
    width: 100%;
    background-color: #fff;

}

header {
    width: 100%;
    padding-top: 10px;
}

img {
    width: 100%;
    display:block;
}

nav {
    background-color: #ffffff;
    width: 1920px;
}


body {
    width: 100%;
    max-width: 1400px;
}

.upperHeader {
    width: 70%;
    margin: 0 auto;
}

.navHomeLeft {
    padding-top: 15px;
}

.navHomeLeft, .title {
    float: left;
    width: 33%;
}

.navHomeRight {
    float: right;
    width: 33%;
    padding-top: 15px;
}

.title {
    font-family: 'Playfair Display', serif;
    padding-left: 80px;
    margin-top: 8px;
    padding-bottom: 20px;
}

.navHomeLeft {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

.navHomeRight {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;

}

.navHomeLeft ul {
    list-style-type: none;
    justify-content: center;
}

.navHomeLeft a {
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    font-size: 9px;
    padding: 20px;
    font-weight: 700;
}


.navHomeRight a {
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    font-size: 9px;
    padding: 15px 8px 0 15px;
    font-weight: 700;
}

.navHomeLeft a:hover {
    color: #999999;
}

.navHomeRight a:hover {
    color: #999999;
}

.navHomeRight ul {
    list-style-type: none;
}

.navHomeRight i {
    padding: 0;
}

nav ul li {
    float: left;
}


/* START OF HOME SECTION */


.homeSectionOne {
    background: #ededed;
    max-width: 1920px;
    height: 500px;
}

.aboutUs h6 {
    display: inline-block;
    padding: 50px 390px 20px 390px;
    margin: 0 auto;
    font-family: 'Poppins', sans-serif;
    font-size: 7.5px;
    font-weight: 400;
    text-transform: uppercase;
    color: #999999;
    letter-spacing: 5px;
}

.aboutImageContainerOne {
    position: relative;
    margin: 40px;
    padding-left: 170px;
    /* z-index: 5; */
}

.aboutImageContainerTwo {
    width: 40%;
    height: 40.2%;
    position: absolute;
    margin: 40px;
    /* display: inline; */
    z-index: 1;
}

.beachImage img {
    width: 28.8%;
    height: 6.4%;
    border: 7px solid white;
    float: left;
    position: relative;
    /* z-index: 5; */
}

.monalisaLogo img {
    width: 23.1%;
    height: 4.2%;
    /* z-index: 1; */
    margin-top: 120px;
    margin-left: 110px;
}

.aboutUs h3 {
    font-family: 'Playfair Display', serif;
    font-size: 28px;
    float: right;
    margin-top: 20px;
    margin-right: 237px;
}

.aboutUs p {
    font-family: 'Poppins', sans-serif;
    font-size: 8px;
    font-weight: 400;
    color: #999999;
    width: 30%;
    height: 3%;
    line-height: 15px;
    float: right;
    margin-top: 10px;
    margin-right: 210px;
}

.aboutUs span {
    color: black;
    font-weight: 700;
}

.homeSectionTwo {
    /* max-width: 1920px; */
    width:100%;
    /* height: 14.5%; */
    /* border:1px solid green; */
}

.homeSectionTwo ul {
    width: 60%;
    float: right;
    padding-top: 15%;
    margin-right: 4%;
}

.homeSectionTwo strong {
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    font-size: 10px;
    /* letter-spacing: 1px; */
    /* margin: 5px; */
}

.homeSectionTwo p {
    color: #999999;
    font-size: 8.5px;
    letter-spacing: 0.3px;
    margin: 10px;
    margin-bottom: 15px;
    /* padding-left: 15px; */
}

.homeInclusions {
    float: left;
    width: 70%;   
    /* border:1px solid blue; */
}

.homeInclusions li {
    width: 40%;
}

figure.homeInclusionsImage {
    width: 30%;
    float: left;
    /* border:2px solid orange; */
    /* position: relative; */
}



/* CLEARFIX APPLIED FOR NOW UNTIL SECTION FUCKERY IS FIXED */
.homeSectionTwo img {
    /* width: 33.2%;
    height: 14.5%; */
    /* padding: 0 0 0 5px; */
    /* margin-left: 820px; */
    /* float: right; */
}

.homeSectionTwo li {
    list-style-type: none;
    float: left;
}

.homeSectionTwo .clearfix {
    /* padding: 0; */
}

/* .sunnySeason {
    width: 13.7%;
    height: 2.1%;
    position: absolute;
    padding-top: 50px;
    line-height: 10px;
}

.flightIncluded {
    width: 13.7%;
    height: 2.1%;  
    position: absolute;
    padding-top: 120px; 
}

.guidedNatureExcursions {
    width: 13.7%;
    height: 2.1%;
    position: absolute;
    padding-top: 200px; 
}

.fiveStarRestaurants {
    width: 13.7%;
    height: 2.1%;
    float: right;
}

.allInclusive {
    width: 13.7%;
    height: 2.1%;
    float: right;
}

.wakeUpService {
    width: 13.7%;
    height: 2.1%;
    float: right;
} */


.homeSectionThree {
    max-width: 100%;
    height: 30.2%;
    background: url(./sunshine/assets/swirl_pattern.png);
    padding-top:50px;
}

.homeSectionThree h6 {
    margin: 0 auto;
    font-family: 'Poppins', sans-serif;
    font-size: 8px;
    font-weight: 400;
    text-transform: uppercase;
    color: #999999;
    letter-spacing: 6px;
    margin: 0 auto;
}

.homeSectionThree h2 {
    font-family: 'Playfair Display', serif;
    font-size: 28px;
    /* float: right; */
}

.homeSectionThree span {
    display: inline;
}

.homeSectionThree p {
    
}

/* ENSURE ITALIC WAS SELECTED FROM FONT AWESOME FOR THE BELOW FONT */

article.homeTestimonial {
    /* border: 2px solid red; */
    background: rgb(255,255,255);
    text-align: center;
    padding:50px;
    width: 52%;
}

.homeTestimonial h6 {
    padding-bottom: 20px;
    font-size: 6.5px;
    letter-spacing: 4px;
}

.homeTestimonial h2 {
    font-family: 'Playfair Display', serif;
    padding-bottom: 27px;
}

.homeTestimonial p {
    font-family: 'Playfair Display', serif;
    font-size: 14px;
    font-weight: 700;
}

.fiveStars {
    color: rgb(246, 171, 8);
    padding: 20px;
}

.homeSectionThree strong {
    font-family: 'Poppins', sans-serif;
    font-size: 9.5px;
}

.homeSectionThree h5 {
    font-family: 'Poppins', sans-serif;
    font-size: 8px;
    color: #999999;
    font-weight: 400;
}

.homeSectionThree span {
    font-family: 'Poppins', sans-serif;
    font-size: 8px;
    color: black;
    font-weight: 700;    
}

.homeSectionFour {
    background: url(./sunshine/assets/swirl_pattern.png);
    width: 100%;
    height: 30.2%;
    padding: 8%;
    text-align: center;
}

.homeSectionFour h6 {
    margin: 0 auto;
    font-family: 'Poppins', sans-serif;
    font-size: 7px;
    font-weight: 700;
    text-transform: uppercase;
    color: #999999;
    letter-spacing: 5px;
    margin: 0 auto;
    padding-bottom: 10px;
}

.homeSectionFour h2 {
    font-family: 'Playfair Display', serif;
    font-size: 28px;
}

.galleryContainerOne figure,
.galleryContainerTwo figure {
    width: calc((100% / 3) - 10px);
    float: left;
    margin: 0 5px;
}

.homeSectionFour img {
    width: 100%;
    /* width: 19.3%;
    height: 14.6%;
    margin: 7px;
    display: table-column; */
}

.homeSectionFive {
    height: 14.5%;
}

.homeSectionFive img {
    width: 56%;
    height: 14.5%;
    float: left;
}

.homeSectionFive h5 {
    margin: 0 auto;
    font-family: 'Poppins', sans-serif;
    font-size: 7px;
    font-weight: 700;
    text-transform: uppercase;
    color: #999999;
    letter-spacing: 5px;
    /* margin: 0 auto; */
    padding-top: 50px;  
    padding-bottom: 7px;
}

.homeSectionFive h2 {
    font-family: 'Playfair Display', serif;
    font-size: 28px;
    padding-bottom: 30%;
}

.homeSectionFive strong {
    font-family: 'Playfair Display', serif;
    font-weight: 700;
}

.homeSectionFive span {
    font-family: 'Playfair Display', serif;
    color: #cccccc;
    font-weight: 700;
}

.homeSectionFive h4 {
    font-family: 'Poppins', sans-serif;
    font-size: 8px;
    padding-top: 20px;
}

.homeSectionFive p {
    font-family: 'Poppins', sans-serif;
    font-size: 8px;
    font-weight: 400; 
    color: #666666;  
    padding-top: 15px;
    padding-bottom: 25px;
}

.homeSectionFive h6 {
    font-family: 'Poppins', sans-serif;
    font-size: 8px;
    color: #999999;
    font-weight: 400;
    padding-bottom: 8px;
}

.homeSectionFive h3 {
    font-family: 'Playfair Display', serif;
    font-size: 21px;
    font-weight: 700;
    padding: 2px 0 20px 0;
}

.homeContact {
    padding: 20px 40px 50px 20px;
    float: right;
    padding-right: 21%;
}

footer {
    background-color: #212020;
    width: 100%;
    /* height: 6%; */
    /* height: 50vh; */
    padding: 50px 0;
}

.homeFooterLeft, div.homeFooterRight, .homeFormBox {
    float: left;
    width: 33.3%;
}

.homeFooterContainer {
    width: 100%;
}

.homeFooterContainer ul {
    padding: 0;
}


.homeFooterContainer li {
    font-family: 'Poppins', sans-serif;
    color: #999999;
    font-size: 8px;
    list-style-type: none;
}

.homeFooterContainer li:hover {
    color: #ffffff;
}

.homeFooterContainer p {
    font-family: 'Poppins', sans-serif;
    color: #999999;
    font-size: 8px;
}

.homeBottomFooter {
    width:100%;
    border-top: 1px solid white;
    margin-top: 30px;
}

.homeBottomFooter p {
    font-family: 'Poppins', sans-serif;
    color: #666666;
    font-size: 8px;
    font-weight: 400;
    padding-top: 15px;
    display: inline-block;
}

.homeBottomFooter i {
    color: #ffffff;
    padding: 15px 15px 0 15px;
    font-size: 10px;
    float: right;
}

footer form {
    float: left;
}

.homeFormBox input {
    background: none;
    border: none;
    border-bottom: 1px solid white;
    font-size: 9px;
    color: #999999;
}

.homeFormBox {
    float: right;
    
}

.homeFormBox label {
    font-family: font-family: 'Poppins', sans-serif;
    font-size: 9px;
    color: #999;
    padding-bottom: 20px;
}

.homeBottomFooterSocials {
    float: right;
    clear: both;
}

.homeBottomFooter i:hover {
    color: #666666;
}

/* REFER ABOVE TO THE formfun lesson from week 2 day 1!!!!! for svg form thing */
    

/* START OF BLOG SECTION */

.mainBlogSection {
    position: relative;
    background-color: white;
    top: -55px;
}

.bodyBlog {
    background: #eeeeee;
}

.blogSectionOne h2 {
    font-family: 'Playfair Display', serif;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 28px;
}

.blogSectionOne h3 {
    font-family: 'Poppins', sans-serif;
    font-size: 8px;
    text-align: center;
    padding-bottom: 50px;
}

.blogSectionOne span {
    color: #999999;
    font-weight: 400;
}

/* .blogReviewSection img {
    width: 5.6%;
    height: 1.7%;
    border-radius: 50%;
    border: 1px solid black;
    float: left;
    margin-left: 20px;
} */

.blogReviewSection figure {
    /* border:1px solid black; */
    width:65px;
    height:65px;
    border-radius:50%;
    float: left;
}

.blogReviewSection figure img {
    border-radius:50%;
    margin-left: 40px;
}

/* WHY YA AINT PROPER BOLD, SON?????? */

.blogSectionOne strong {
    font-family: 'Playfair Display', serif;
    font-size: 8px;
    font-weight: 700;
}

.blogSectionOne span {
    font-family: 'Playfair Display', serif;
    font-size: 8px;
    font-weight: 700;
    /* border: 1px solid red; */
    display: inline-block;
}

.blogSectionOne h5 {
    font-family: 'Poppins', sans-serif;
    font-size: 8px;
    color: #999999;
    font-weight: 400;
    /* border: 1px solid red; */
    display: inline-block;
    margin-right: 30px;
    margin-left: 100px;
}

.blogSectionOne h4 {
    font-family: 'Playfair Display', serif;
    font-size: 11px;
    font-weight: 700;
    /* border: 1px solid red; */
    display: inline-block;
    margin-right: 30px;
    margin-left: 75px;
    padding-right: 20px;
    padding-left: 9px;
}

/* ALL y'all above... BOLD!!!! I TELL YA!!!! */

.blogSectionOne strong {
    font-family: 'Poppins', sans-serif;
    font-size: 8px;
} 

/* DISPLAY IN LINE BLOCK???? */

.blogSectionOne p {
    font-family: 'Poppins', sans-serif;
    font-size: 8px;
    color: #999999;
    font-weight: 400;
    padding: 12px 15px 10px 13px;
    margin: 0 20px 0 20px;
}

.blogSectionOne p:first-of-type {
    font-weight: 800;
    color: black;
}

.blogParagraphs {
    /* border: 1px solid orange; */
    clear: both;
    margin: 5px;
}

.blogAdmin {
    /* border: 2px solid blue; */
    width:80%;
    float: left;
    margin-left: 30px;
}

.topBlogAdmin {
    /* text-align: center; */
    float: left;
    clear: right;
    /* padding-left: 118px; */
        /* border: 2px solid green; */

}

.bottomBlogAdmin {
    /* text-align: center; */
    clear: left;
        /* border: 2px solid red; */

}

/* BOLD BELOW AS WELL.... */

.blogReviewSocials {
    padding-bottom: 20px;
}

.blogReviewSocials strong {
    font-family: 'Playfair Display', serif;
    font-size: 11px;
    font-weight: 700;
    text-align: center;
    display: inline;
    margin-left: 37px;
}

.blogReviewSocials i {
    color: #999999;
    font-size: 10px;
}

.blogReviewSocials ul {
    display:inline-block;
    padding: 0;
}

.blogReviewSocials li {
    display: inline-block;
}

/* Determine seperate hover colors for each social */

.blogReviewSocials i:hover {
    color: #00ccff;
}

.blogSectionTwo h2 {
    font-family: 'Playfair Display', serif;
    font-size: 18px;
    margin-left: 37px;
    padding-top: 30px;
    padding-bottom: 10px;
}

.blogSectionTwo img {
    width: 90%;
    height: 50%;
}

.card {
    width: calc((100% - 10px) / 3);
    float: left;
    padding-left: 38px;
    padding-bottom: 40px;
}

/* .imgCardOne, .imgCardTwo, .imgCardThree {
    margin-left: 25px;
} */

.blogSectionTwo h6 {
    font-family: 'Poppins', sans-serif;
    font-size: 8px;
    color: #999999;
    font-weight: 400;
}

.blogSectionTwo p {
    font-family: 'Playfair Display', serif;
    font-size: 11px;
    font-weight: 700;
}

.blogSectionTwo p:hover {
    text-decoration: underline;
}

.blogSectionTwo a {
    font-family: 'Poppins', sans-serif;
    font-size: 8px;
    color: #999999;
    font-weight: 700;
    text-decoration: none;
}

.blogSectionTwo a:hover {
    color: black;
}

.blogSectionThree h2 {
    font-family: 'Playfair Display', serif;
    font-size: 18px;
    margin-left: 37px;
}

.blogSectionThree img {
    width: 3.9%;
    height: 1.8%;
    display: inline;
    padding-top:
}

.blogSectionThree strong {
    font-family: 'Poppins', sans-serif;
    font-size: 9px;
}

.blogSectionThree em {
    font-family: 'Poppins', sans-serif;
    font-size: 9px;
    color: #33cccc;
}

.blogSectionThree p {
    font-family: 'Poppins', sans-serif;
    font-size: 9px;
    color: #666666;
}

.blogSectionThree h6 {
    font-family: 'Poppins', sans-serif;
    font-size: 6.5px;
    color: #999999;
    font-weight: 400;
    padding-top: 7px;
}

.commentOne {
    width: 88%;
    height: 3.2%;
    background-color: #f6f6f6;
    margin: 5px 0 0 90px;
    padding: 10px 20px 25px 15px;
}

.commentTwo {
    width: 88%;
    height: 3.2%;
    background-color: #f6f6f6;
    margin: 5px 0 0 90px;
    padding: 10px 20px 25px 15px;
}

.blogSectionThree input {
    font-family: 'Poppins', sans-serif;
    font-size: 8px;
    color: #999999;
    font-weight: 400;
}

.blogSectionThree input:hover {
    color: rgb(0,0,0);
    font-weight: 700;
}

.blogButton a {
    font-family: 'Poppins', sans-serif;
    width: 150px;
    height: 80px;
    background-color: rgb(132,160,22);
    color: rgb(255,255,255);
    text-decoration: none;
    font-size: 10px;
}

.contactSectionOne h2 {
    font-family: 'Playfair Display', serif;
}

.contactSectionOne p {
    font-family: 'Poppins', sans-serif;
    font-size: 9px;
    color: #999999;
}

.contactSectionOne h3 {
    font-family: 'Playfair Display', serif;
    font-size: 10px;
    font-weight: 700;
}

.contactSectionOne h4 {
    font-family: 'Poppins', sans-serif;
    color: #999999;
    font-size: 8px;
    font-weight: 400;    
}

.contactSectionTwo h2 {
    font-family: 'Playfair Display', serif;
} 

.contactSectionTwo p {
    font-family: 'Poppins', sans-serif;
    font-size: 9px;
    color: #999999;
    padding-bottom: 40px;
}

.contactSectionTwo i {
    font-family: 'Poppins', sans-serif;
    font-size: 8px;
    color: #999999;
    font-weight: 400;
}

.contactSectionTwo input:hover {
    color: rgb(0,0,0);
    font-weight: 700;
}

/* REFER TO formFun excercise for the footer form sections!!!!!!!!!!!! and the line element for elsewhere */



 